## Introduction

In this report I will aim to discover some hidden insights in data provided by Walmart. Some potential questions retail stores might ask about are highest performing stores and months. Busiest periods for sales in store. As well as how temperature has affected purchasing decisions. This dataset also has a fuel price and CPI (Customer price index). Although no obvious observations can be made using these two currently, I aim to use these two columns to hopefully provide some meaninful data to the proposed stakeholder.

## Table of contents

## Glossary

<p><span style="font-weight: bold">Store: </span>..</p>
<p><span style="font-weight: bold">Date: </span>..</p>
<p><span style="font-weight: bold">Weekly_Sales: </span>..</p>
<p><span style="font-weight: bold">Holiday_Flag: </span>..</p>
<p><span style="font-weight: bold">Temperature: </span>..</p>
<p><span style="font-weight: bold">Fuel_Price: </span>..</p>
<p><span style="font-weight: bold">CPI: </span>..</p>
<p><span style="font-weight: bold">Unemployment: </span>..</p>

In [2]:
import pandas as pd
import os
import datetime

Importing required libraries needed for the immediate analysis

In [3]:
all_data = pd.read_csv("archive/Walmart.csv")
all_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

Adding a month column so we can find out the busiest month, it will likely be December given the state of holidays in America. However, we can dig deeper after we find do some initial digging.

In [4]:
all_data['Date'] = pd.to_datetime(all_data['Date'], dayfirst=True)
all_data['Month'] = all_data['Date'].dt.month
all_data['Week'] = all_data['Date'].dt.isocalendar().week

# all_data = all_data.drop(columns='Hour')

In [83]:
all_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Week
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,2,5
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,2,6
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2,7
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2,8
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,3,9

In [6]:
import matplotlib.pyplot as plt

Importing matplotlib since we will need it soon. Lets groupby sales first and find out some more information from the data.

## Question 1: Which store had had the highest sales?

It appears that store 14 had the highest weekly sales.

In [97]:
temp = all_data.groupby('Store').max()
weekly_sales_asc = temp.sort_values('Weekly_Sales', ascending=True)
weekly_sales_asc = weekly_sales_asc.reset_index(drop=False)

In [96]:
weekly_sales_asc.tail(50)

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Week
0,33,3.716022e+07,10,10972.13,511.357,18401.192733,1220.241,922,3692
1,44,4.329309e+07,10,7678.69,469.919,18401.192733,963.194,922,3692
2,5,4.547569e+07,10,9925.65,460.417,30968.878137,900.243,922,3692
3,36,5.341221e+07,10,10175.93,458.201,30706.256907,1125.274,922,3692
4,38,5.515963e+07,10,10047.58,515.718,18401.192733,1875.657,922,3692
5,3,5.758674e+07,10,10215.09,460.417,31372.988971,1026.309,922,3692
6,30,6.271689e+07,10,9845.21,460.417,30837.422420,1090.210,922,3692
7,37,7.420274e+07,10,10175.93,460.417,30706.256907,1125.274,922,3692
8,16,7.425243e+07,10,6439.30,463.543,27693.986741,926.353,922,3692
9,29,7.714155e+07,10,7850.29,492.169,19318.242848,1402.313,922,3692
10,9,7.778922e+07,10,9691.85,460.417,31406.616557,872.283,922,3692
11,42,7.956575e+07,10,10330.49,511.357,18401.192733,1195.904,922,3692
12,7,8.159828e+07,10,5680.00,463.543,27693.986741,1227.760,922,3692
13,15,8.913368e+07,10,7412.24,511.696,19318.242848,1143.464,922,3692
14,43,9.056544e+07,10,9849.51,460.417,29706.128216,1420.677,922,3692
15,25,1.010612e+08,10,7455.79,488.718,29892.452680,1054.112,922,3692
16,21,1.081179e+08,10,9845.21,460.417,30837.422420,1090.210,922,3692
17,45,1.123953e+08,10,8264.11,488.718,26638.851959,1236.771,922,3692
18,17,1.277821e+08,10,6633.37,469.919,18401.192733,936.565,922,3692
19,8,1.299512e+08,10,8939.50,460.417,31379.780750,871.134,922,3692
20,35,1.315207e+08,10,8195.49,488.718,19878.613542,1256.766,922,3692
21,40,1.378703e+08,10,6817.46,492.169,19318.242848,685.830,922,3692
22,34,1.382498e+08,10,8364.91,460.027,18401.192733,1420.677,922,3692
23,26,1.434164e+08,10,6243.13,492.169,19318.242848,1125.706,922,3692
24,12,1.442872e+08,10,10047.58,515.718,18401.192733,1875.657,922,3692
25,22,1.470756e+08,10,7850.29,492.169,19878.613542,1153.920,922,3692
26,18,1.551147e+08,10,7632.09,492.169,19318.242848,1263.877,922,3692
27,32,1.668192e+08,10,7542.90,463.543,27693.986741,1227.760,922,3692
28,41,1.813419e+08,10,6922.68,463.543,27693.986741,997.193,922,3692
29,28,1.892637e+08,10,10047.58,515.718,18401.192733,1875.657,922,3692
30,11,1.939628e+08,10,10364.75,460.417,31372.988971,1026.309,922,3692
31,24,1.940160e+08,10,7726.29,511.696,19318.242848,1207.923,922,3692
32,23,1.987506e+08,10,6979.13,492.169,19318.242848,685.830,922,3692
33,31,1.996139e+08,10,9845.21,460.417,30837.422420,1090.210,922,3692
34,19,2.066349e+08,10,7478.19,511.696,19318.242848,1143.464,922,3692
35,39,2.074455e+08,10,10095.42,460.417,30706.256907,1125.274,922,3692
36,1,2.224028e+08,10,9767.87,460.417,30887.555523,1088.290,922,3692
37,6,2.237561e+08,10,9967.10,460.417,31110.107182,944.787,922,3692
38,27,2.538559e+08,10,8195.49,511.696,19878.613542,1144.250,922,3692
39,10,2.716177e+08,10,10330.49,511.357,18401.192733,1195.904,922,3692
40,2,2.753824e+08,10,9754.94,460.417,30837.422420,1090.210,922,3692
41,13,2.865177e+08,10,7678.69,469.919,18401.192733,1001.261,922,3692
42,14,2.889999e+08,10,8264.11,488.718,26638.851959,1236.771,922,3692
43,4,2.995440e+08,10,8902.23,460.027,18401.192733,852.951,922,3692
44,20,3.013978e+08,10,7929.55,488.718,29892.452680,1054.112,922,3692